// Override / set color variables

$background : white;
$mainColor: #42b983;
$mainColorDark: #206042;
$mainColorText: white;

$secondColor: #2c3e50;
$secondColorDark: #1f2a34;
$secondColorText: white;

$accentColor: #FFE1C6;
$accentColorDark: #FFA85C;
$accentColorText: $secondColorDark;

$dangerColor: #FFC6D9;
$dangerColorDark: #FF70A0;
$dangerColorText: $secondColorDark;